.hero_section {
    background-image: url(img2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.font-main {
    font-family: "Kode Mono", monospace;
    color: wheat;
}

.font-title {
    font-family: "Anta", sans-serif;
}

:root {
    --1st-color: rgb(171,219,227);
}

.link-1:hover {
    transform: scale(1.2);
}

.btn-1 {
    transition: 1s;
    display: inline;
}

.btn-1:hover {
    transform: rotate(360deg);
    transition-duration: 1.5s;
}

