.hero_section {
    background-image: url(img2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.font-main {
    font-family: "Kode Mono", monospace;
    color: wheat;
}

.font-title {
    font-family: "Anta", sans-serif;
}

:root {
    --1st-color: rgb(171,219,227);
}